<footer>
  <nav>
    <a href="#" class="footerNav footerAboutUsLink">Om oss</a>
    <a href="#" class="footerNav footerAllMoviesLink">Alla filmer</a>
    <a href="#" class="footerNav footerInstagramLink">Instagram</a>
    <a href="#" class="footerNav footerFacebookLink">Facebook</a>
    <a href="#" class="footerNav footerXLink">X</a>
    <a href="#" class="footerNav footerTosLink">ToS</a>
    <a href="#" class="footerNav footerPrivacyPolicyLink">Privacy policy</a>
  </nav>
</footer>
