<header>
  <img
    class="kinoLogo"
    src="/images/logoHead.png"
    alt="logotyp för Kino"
    usemap="#logoMap"
  />
  <map name="logoMap">
    <area shape="rect" coords="225,10,573,143" href="index.html" alt="Kino" />
  </map>
  <div class="navContainer">
    <nav class="headerNav">
      <a href="/moviesPage" class="headerNavItem"> See all movies</a>
      <a href="#" class="headerNavItem">Link</a>
      <a href="#" class="headerNavItem">Link</a>
      <a href="#" class="headerNavItem">Link</a>
      <a href="#" class="headerNavItem">Link</a>
      <a href="#" class="headerNavItem">Link</a>
      <a href="#" class="headerNavItem">Link</a>
      <a href="#" class="headerNavItem">Link</a>
    </nav>
    <div class="searchBar">
      <input type="search" placeholder="Search..." class="searchInput" />
      <button class="searchBtn">Search</button>
    </div>
  </div>
</header>
