$backgroundColor: #0e0e1b;
$buttonColor: #175dcc;
$textColor: #ffffff;

* {
  margin: 0px;
  padding: 0px;
}

.skiReviewerSection {
  background-color: $backgroundColor;
  width: 100vw;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.skiReviewer {
  width: 25vw;
  border-radius: 20%;
}
