$backgroundColor: #0e0e1b;
$buttonColor: #175dcc;
$textColor: #ffffff;

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", serif;
}

.skiReviewerSection {
  background-color: $backgroundColor;
  width: 100vw;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.skiReviewer {
  width: 25vw;
  border-radius: 20%;
}

.movieModalWrapper {
    position: fixed;
    background-color: $backgroundColor;
    top: 0px;
    width: 100%;
    height: 100%;

}
