//--------------header----------------------
.header {
   display: grid;
   padding: 20px;
   background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
   background-size: 300% 300%;
   animation: colorAnimation 8s ease-in-out infinite;
   .logo-navbar {
      display: flex;
      .logo {
         border-radius: 30px 30px 0px 30px;
         .kino-logo {
            max-width: 200px;
            max-width: 200px;
         }
      }
   }

   .nav-title-container {
      display: grid;
      width: 100%;
      max-height: 100px;
      h1,
      h2 {
         color: white;
      }
      h1 {
         margin: 0px;
         padding-bottom: 10px;
      }
      .navbar-container {
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
         background-size: 300% 300%;
         animation: colorAnimation 3s ease-in-out infinite;
         border-radius: 0px 10px 10px 0px;
         padding: 10px 0px;
         z-index: 1000;
         a {
            font-family: 'Work Sans', sans-serif;
            color: black;
            text-decoration: none;
            font-weight: bold;
            position: relative;
            z-index: 0;
            padding: 0px 5px;

            &:hover {
               color: white;
            }

            &::before {
               content: "";
               position: absolute;
               left: 0;
               top: -1px;
               width: 100%;
               height: 100%;
               border-top: 1px solid white;
               border-bottom: 1px solid white;
               transform: scaleY(3);
               opacity: 0;
               transition: transform 0.5s, opacity 0.5s;
               z-index: -1;
            }

            &:hover::before {
               transform: scaleY(1);
               opacity: 1;
            }
         }
      }
   }
}

//---------------------------Header-Ended---------------------
//---------------------upper-section-----------------
.upperSection {
   position: relative;
   .seatImg {
      max-width: 100%;
   }
   .kinoImg {
      max-width: 100%;
      min-width: 100%;
      position: absolute;
      left: 0;
      top: 0px;
   }
   .searchSection {
      display: flex;
      position: absolute;
      z-index: 1000;
      top: 45%;
      left: 48%;
      transform: translateX(-50%);
      min-width: 40vw;
      min-height: 5vh;
      // overflow: hidden;
      animation: shrink both;
      animation-timeline: view();
      // animation-range-start: 350px;
      // animation-range-end: 50px;
      .searchBar {
         border-radius: 10px 0px 0px 10px;
         border: none;
         padding-left: 10px;
         min-width: 100%;
      }
      .searchBtn {
         padding: 10px 20px;
         border: none;
         border-radius: 0px 10px 10px 0px;
         background-color: rgb(205, 205, 205);
         color: black;
         font-family: 'Work Sans', sans-serif;
         font-weight: bold;
         cursor: pointer;
         &:hover {
            background-color: aquamarine;
            color: white;
         }
      }
   }
}

//---------------------UpperSection-ended-------------
//--------------------avatarSection----------------
.avatarSection {
   overflow: x;
   position: relative;
   .highlightsImgs {
      max-width: 100%;
   }
   .avatarImg {
      position: absolute;
      max-width: 60%;
      min-height: 50%;
      top: 30%;
      left: 40%;
      animation: slide both linear;
      animation-timeline: view();
   }
}

//--------------------AvatarSection-ended------
//--------------------rollingSections----------------
.rollingSections {
   display: grid;
   h1{
      margin: 40px 0px;
      place-self: center;
      font-family: 'Work Sans', sans-serif;
   }
   .picsList{
      display: flex;
      list-style-type: none;
      width: 86%;
      height: 100px;
      padding: 10px 0px;
      margin-inline: auto;
      outline: 3px solid royalblue;
      position: relative;
      overflow: hidden;
      mask-image: linear-gradient(
         to right, 
         rgb(0,0,0,0),
         rgb(0,0,0,1) 3%,
         rgb(0,0,0,1) 97%,
         rgb(0,0,0,0),
      );
      .pics {
         left: 100%;
         height: 90px;
         min-width: 150px;
         max-width: 150px;
         position: absolute;
         animation: scroll 30s linear infinite;
         background-color: #ffb509;
         border-radius: 10px;
         box-shadow: #101827 0px 0px 4px 0.09px;
      }
      .pic1 {
         animation-delay: calc(30s / 8 * (13 - 1) * -1);
      }
      .pic2 {
         animation-delay: calc(30s / 8 * (13 - 2) * -1);
      }
      .pic3 {
         animation-delay: calc(30s / 8 * (13 - 3) * -1);
      }
      .pic4 {
         animation-delay: calc(30s / 8 * (13 - 4) * -1);
      }
      .pic5 {
         animation-delay: calc(30s / 8 * (13 - 5) * -1);
      }
      .pic6 {
         animation-delay: calc(30s / 8 * (13 - 6) * -1);
      }
      .pic7 {
         animation-delay: calc(30s / 8 * (13 - 7) * -1);
      }
      .pic8 {
         animation-delay: calc(30s / 8 * (13 - 8) * -1);
      }
   }
}
@keyframes scroll {
   to {
      left: -100px;
   }
}
//--------------------rollingSections-ended------
.filterSection {
   position: relative;
   .filterBtn {
      position: absolute;
      padding: 10px 30px;
      font-size: larger;
      top: -27px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 10px;
      border: none;
      cursor: pointer;
      box-shadow: 0px 0px 3px 0.03px;
      &:hover {
         background-color: #23d5ab;
      }
   }
}

@keyframes slide {
   0% {
      left: 40%;
   }
   100% {
      left: 28%;
   }
}

@keyframes shrink {
   0% {
      min-width: 40vw;
   }
   100% {
      min-width: 20vw;
   }
}

@keyframes colorAnimation {
   0% {
      background-position: 0 20%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0 50%;
   }
}

body {
   margin-bottom: 800px;
}
